<header>
  <section class="nav-bar">
    <nav class="row-ce-ce">
      <a href="/fr/tableau-de-bord" class="space-around inline-block"><b>OptiLeague</b></a>
      <a href="/fr/classeurs" class="space-around inline-block">Classeurs</a>
      <a href="/fr/s-entrainer" class="space-around inline-block">S'entraîner</a>
    </nav>
</section>
</header>
<hr class="separator">