<%- include('./partials/frHead.ejs') %>
<title>Nous avons bien reçu votre paiement | OptiLeague</title>
</head>
<body>
  <%- include('./partials/frHeader.ejs') %>
  <main>
    <section class="center">
      <h2>Merci pour votre paiement !</h2>
      <p>Nous vous confirmons que vos crédits ont bien été ajoutés à votre compte.</p>
      <hr class="separator">
      <nav>
        <a href="/fr/tableau-de-bord" class="cta-1">Retour au tableau de bord</a>
      </nav>
  </section>
  </main>
</body>
</html>
