<%- include('./partials/frHead.ejs') %>
<title>Abandon du paiement | OptiLeague</title>
</head>
<body>
  <%- include('./partials/frHeader.ejs') %>
  <main>
    <section class="center">
      <h2>Paiement annulé</h2>
      <p>Nous n'avons pas pu créditer votre compte car le paiement n'a pas abouti.</p>
      <hr class="separator">
      <nav>
        <a href="/fr/tableau-de-bord" class="cta-1">Retour au tableau de bord</a>
      </nav>
  </section>
  </main>
</body>
</html>
