<%- include('./partials/frHead.ejs') %>
<title>Changer votre mot de passe | OptiLeague</title>
</head>
<body>
  <%- include('./partials/frHeader.ejs') %>
  <main>
    <section>
      <h2 class="center">Changer votre mot de passe</h2>
    </section>
    <section>
      <form action="/fr/mon-compte/changer-mot-de-passe" method="post" class="centered-max-width-400">
        <% if (message !== 'undefined') { %>
          <p class="alert-danger center"><%= message %></p>
          <hr class="separator">
        <% } else { %>
        <%  return ; %>
        <% } %>
        <input type="password" name="currentpassword" id="currentpassword" placeholder="Mot de passe actuel" required>
        <hr class="separator">
        <input type="password" name="newpassword" id="newpassword" placeholder="Nouveau mot de passe" required>
        <hr class="separator">
        <input type="password" name="newpassword2" id="new-password2" placeholder="Confirmer le nouveau mot de passe" required>
        <hr class="separator">
        <input type="submit" class="cta-2 submit-link" value="Changer le mot de passe">
      </form>
    <hr class="separator">
    <nav class="center">
      <a href="/fr/mon-compte">Non, ne pas modifier</a>
    </nav>
  </section>
  </main>
</body>
</html>
