<%- include('./partials/frHead.ejs') %>
<title>Le mot de passe a bien été changé | OptiLeague</title>
</head>
<body>
  <%- include('./partials/frHeader.ejs') %>
  <main>
    <section class="center">
      <h2>Mot de passe modifié</h2>
      <hr class="separator">
      <p>Le mot de passe a bien été mis à jour.</p>
      <hr class="separator">
      <a href="/fr/mon-compte" class="cta-1">Retour au compte</a>
    </section>
  </main>
</body>
</html>