<%- include('./partials/frHead.ejs') %>
<title>Inscrivez-vous à OptiLeague</title>
</head>
<body>
  <header>
    <section class="row-sa-ce">
      <nav>
        <a href="https://www.optileague.fr/"><img class="height-100" src="/images/brand/optileague-147x100-color.png" alt="Logo OptiLeague"></a>
      </nav>
      <p>
        Vous avez déjà un compte ? <a href="/fr/a/se-connecter">Se connecter</a>
      </p>
    </section>
  </header>
  <hr class="separator">
  <main>
    <section>
      <h2 class="center">Essayez OptiLeague gratuitement pendant 21 jours</h2>
      <form action="/fr/a/s-inscrire" method="post" class="centered-max-width-400">
        <% if (message !== 'undefined') { %>
          <p class="alert-danger center"><%= message %></p>
          <hr class="separator">
        <% } else { %>
        <%  return ; %>
        <% } %>
        <input type="text" name="email" id="email" placeholder="Votre adresse e-mail" required>
        <hr class="separator">
        <input type="password" name="password" id="password" placeholder="Choisissez votre mot de passe" required>
        <hr class="separator">
        <input type="submit" class="cta-2 submit-link" value="Créer mon compte">
      </form>
    </section>
  </main>
</body>
</html>