<%- include('./partials/frHead.ejs') %>
<title>E-mail envoyé | OptiLeague</title>
</head>
<body>
  <%- include('./partials/frHeader.ejs') %>
  <main>
    <section>
      <h2 class="center">Vérifiez vos e-mails</h2>
      <p class="centered-max-width-650">Nous avons envoyé un e-mail afin que vous puissiez réinitialiser votre mot de passe.</p>
  </section>
  </main>
</body>
</html>
