<%- include('./partials/frHead.ejs') %>
<title>Tableau de bord | OptiLeague</title>
</head>
<body>
  <%- include('./partials/frHeader.ejs') %>
  <main>
    <section class="row-ce-fs">
      <article class="column-fs-ce max-width-400">
        <a href="/fr/classeurs"><img src="/images/cards-128x128.png" alt="Classeurs"></a>
        <p>
          <a href="/fr/classeurs">Classeurs</a>
        </p>
      </article>
      <article class="column-fs-ce max-width-400">
        <a href="/fr/s-entrainer"><img src="/images/practice-128x128.png" alt="Entraînement"></a>
        <p>
          <a href="/fr/s-entrainer">S'entraîner</a>
        </p>
      </article>
    </section>
    <hr class="separator">
    <section class="row-ce-fs">
      <article class="column-fs-ce max-width-400">
        <a href="/fr/mon-compte"><img src="/images/account-128x128.png" alt="Mon compte"></a>
        <p>
          <a href="/fr/mon-compte">Mon compte</a>
        </p>
      </article>
      <article class="column-fs-ce max-width-400">
        <a href="/fr/se-deconnecter"><img src="/images/sign-out-128x128.png" alt="Se déconnecter"></a>
        <p>
          <a href="/fr/se-deconnecter">Se déconnecter</a>
        </p>
      </article>
    </section>
    <hr class="separator">
    <section>
      <article class="center alert-info">
        <p>Pour toute aide ou suggestion : </p>
        <p>1. Voir les <a href="https://www.optileague.fr/questions-frequentes.html" target="_blank">questions fréquentes</a></p>
        <p>2. Envoyer un <a href="mailto:support@optileague.app">e-mail</a> à support@optileague.app</p>
      </article>
    </section>
  </main>
  <%- include('./partials/frFooter.ejs') %>
</body>
</html>