<%- include('./partials/xxHead.ejs') %>
  <!-- specific to each page-->
  <title>OptiLeague: choose your language</title>
</head>
<body>
  <header>
    <section>
      <nav class="center">
        <a href="/"><img class="width-250" src="/images/brand/optileague-250x170.png" alt="OptiLeague Logo"></a>
      </nav>
    </section>
  </header>
  <hr class="separator">
  <main>
    <section class="center">
      <article>
        <!--
        <h2>English (Coming soon)</h2>
        <hr class="separator">
        <nav>
          <button class="cta-4 space-around">Sign in</button>
          <button class="cta-4 space-around">Sign up</button>
        </nav>
      </article>
      <hr class="separator">
      <hr class="separator">
       -->
      <article class="center">
        <h2>Français</h2>
        <hr class="separator">
        <nav>
          <a href="/fr/a/se-connecter" class="cta-2 space-around inline-block">Se connecter</a>
          <a href="/fr/a/s-inscrire" class="cta-2 space-around inline-block">S'inscrire</a>
      </nav>
    </article>
    </section>
  </main>
</body>
</html>
